body {
    font-family: Arial, sans-serif;
    background-color: #111519;
}

.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 40px;
    background-color: #212529;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #dee2e6;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #dee2e6;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    box-sizing: border-box;
    background: #2b3035;
    color: #dee2e6;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #0066cc;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #005bb5;
}

.error-message {
    color: #ff4d4d;
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    display: block;
    margin: auto;
}

.shamelessPlug {
    margin: 12px 0 -30px 0;
    padding: 0;
    display: block;
    text-align: center;
    color: #111519;
    font-size: 0.8em;

}