<div id="neoCMSPrompt" class="neoCMSDefPrompt neoCMSPrompt clearfix">
    <div id="neoCMSPromptTop">
        <div class="neoCMSPromptTopL">
            <div class="neoCMSPromptTopR"></div>
        </div>
    </div>
    <div id="neoCMSPromptContent" class="neoCMSDefContent neoCMSPromptContent">
        <h4 id="neoCMSPromptTitle" class="neoCMSPromptTitle"></h4>
        <div class="neoCMSDefAlert">
            <p><em>A "definition list" is a series of terms and definitions. More than one definition may be associated
                with a single term.</em></p>
        </div>
        <form action="javascript:return false;" method="post" name="neoCMSDlGenerator" id="neoCMSDlGenerator"
              class="neoCMSDlGenerator">
        </form>
        <div class="neoCMSDefInsert neoCMSPromptInsert">
            <a title="Apply these changes" class="neoCMSInsertBtnDone" href="javascript:" id="neoCMSPromptBtn">done</a>
            <a title="cancel" href="javascript:" id="neoCMSCancelBtn">cancel</a>
        </div>
    </div>
    <div id="neoCMSPromptBot">
        <div class="neoCMSPromptBotL">
            <div class="neoCMSPromptBotR"></div>
        </div>
    </div>
</div>