<div class="neoCMSDefPrompt neoCMSPrompt clearfix" id="neoCMSPrompt">
    <div id="neoCMSPromptTop">
        <div class="neoCMSPromptTopL">
            <div class="neoCMSPromptTopR"></div>
        </div>
    </div>
    <div class="neoCMSDefContent neoCMSPromptContent" id="neoCMSPromptContent">
        <h4 class="neoCMSPromptTitle" id="neoCMSPromptTitle"></h4>
        <div class="neoCMSDefAlert">
            <p><em>A "definition list" is a series of terms and definitions. More than one definition may be associated
                with a single term.</em></p>
        </div>
        <form action="javascript:return false;" class="neoCMSDlGenerator" id="neoCMSDlGenerator" method="post"
              name="neoCMSDlGenerator">
        </form>
        <div class="neoCMSDefInsert neoCMSPromptInsert">
            <a class="neoCMSInsertBtnDone" href="javascript:" id="neoCMSPromptBtn" title="Apply these changes">done</a>
            <a href="javascript:" id="neoCMSCancelBtn" title="cancel">cancel</a>
        </div>
    </div>
    <div id="neoCMSPromptBot">
        <div class="neoCMSPromptBotL">
            <div class="neoCMSPromptBotR"></div>
        </div>
    </div>
</div>