<div id="neoCMSEditWrap" class="neoCMSEditWrap">
    <ul id="neoCMSEditTopUl">
        <li id="neoCMSEditDone"><a title="Apply these changes" href="javascript:">done</a></li>
        <li id="neoCMSEditCancel"><a title="Do not apply these changes" href="javascript:">cancel</a></li>
        <li id="neoCMSFullscreen"><a class="fullscreen" rel="#neoCMSEditWrap" title="Maximize this window"
                                     href="javascript:">Maximize this window</a></li>
        <li id="neoCMSContrast"><a title="Scroll here to change editor contrast" href="javascript:"
                                   id="neoCMSEditorContrast"></a></li>
    </ul>
</div>