<div class="neoCMSEditWrap" id="neoCMSEditWrap">
    <ul id="neoCMSEditTopUl">
        <li id="neoCMSEditDone"><a href="javascript:" title="Apply these changes">done</a></li>
        <li id="neoCMSEditCancel"><a href="javascript:" title="Do not apply these changes">cancel</a></li>
        <li id="neoCMSFullscreen"><a class="fullscreen" href="javascript:" rel="#neoCMSEditWrap"
                                     title="Maximize this window">Maximize this window</a></li>
        <li id="neoCMSContrast"><a href="javascript:" id="neoCMSEditorContrast"
                                   title="Scroll here to change editor contrast"></a></li>
    </ul>
</div>