<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to NeoCMS</title>
    <link href="/cms/css/welcome.style.css" rel="stylesheet">
</head>
<body>
<header>
    <img alt="Application Logo" class="logo" src="/cms/img/welcomeLogo.png">
</header>
<main>
    <h1>Welcome to NeoCMS</h1>
    <p>This is an example template, found in /cms/templates/ - remove me and replace me with your own site
        templates!</p>
    <p class="editable">
        This box is editable!<br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Quisque sit amet accumsan tortor. Itaque earum rerum hic tenetur a sapiente delectus.
    </p>
</main>
<footer>
    <p>&copy; 2024 Andy Dixon</p>
</footer>
</body>
</html>