<div class="neoCMSHtmlPrompt neoCMSPrompt clearfix" id="neoCMSPrompt">
    <h4 class="neoCMSPromptTitle"><a class="fullscreen" href="javascript:" rel=".neoCMSHtmlPrompt"
                                     title="Maximize this window">Maximize this window</a>Edit HTML</h4>
    <div class="neoCMSHtmlInsert neoCMSPromptInsert">
        <a href="javascript:" id="neoCMSPromptBtn" title="Update HTML">done</a>
        <a href="javascript:" id="neoCMSCancelBtn" title="cancel">cancel</a>
    </div>
    <form action="javascript:return false;" class="neoCMSHtmlEditForm" method="post">
        <textarea class="codepress html linenumbers-off" class="neoCMSHtmlEditArea" cols="1" id="neoCMSHtmlEditAreaTA"
                  name="neoCMSHtmlEditAreaTA" rows="1"></textarea>
    </form>
</div>