<div id="neoCMSPrompt" class="neoCMSHtmlPrompt neoCMSPrompt clearfix">
    <h4 class="neoCMSPromptTitle"><a title="Maximize this window" href="javascript:" class="fullscreen"
                                     rel=".neoCMSHtmlPrompt">Maximize this window</a>Edit HTML</h4>
    <div class="neoCMSHtmlInsert neoCMSPromptInsert">
        <a title="Update HTML" href="javascript:" id="neoCMSPromptBtn">done</a>
        <a title="cancel" href="javascript:" id="neoCMSCancelBtn">cancel</a>
    </div>
    <form action="javascript:return false;" method="post" class="neoCMSHtmlEditForm">
        <textarea class="codepress html linenumbers-off" cols="1" rows="1" id="neoCMSHtmlEditAreaTA"
                  name="neoCMSHtmlEditAreaTA" class="neoCMSHtmlEditArea"></textarea>
    </form>
</div>