<div class="neoCMSImgSelect neoCMSPrompt clearfix" id="neoCMSPrompt">
    <h4 class="neoCMSPromptTitle" id="neoCMSPromptTitle">Edit Image</h4>
    <div class="neoCMSImgChoose neoCMSImgChooseInline clearfix" id="neoCMSImgChoose">
        <h4>Upload A New Image</h4>
        <p>First select the folder you want to upload to:</p>
        <form action="functions/upload.php?type=img" class="neoCMSImgLoc" enctype="multipart/form-data" id="neoCMSImgLoc"
              method="POST" target="neoCMSImgUploadIframe">
            <select id="neoCMSImgFolder" name="neoCMSImgFolder">
                <option class="defaultFolder" id="neoCMSImgFolderDefault" selected="selected" value="">Loading&hellip;
                </option>
            </select>
            <p>Then, upload an image from your computer:</p>
            <input class="neoCMSImgUpload" id="neoCMSImgUpload" name="neoCMSImgUpload" type="file">
        </form>
        <form action="javascript:" class="neoCMSImgLoc" enctype="multipart/form-data" method="POST" name="neoCMSImgSrc">
            <h4 class="neoCMSImgURLTitle">Or Choose An Existing Image</h4>
            <p>To use an image that already exists on the web, enter the URL of the image below:</p>
            <div><input class="neoCMSImgAddress" id="neoCMSImgAddress" name="neoCMSImgAddress" type="text"
                        value="http://"/><a class="neoCMSFBrowse" href="javascript:" rel="#neoCMSImgAddress"
                                            title="Link to a file on the server">browse</a></div>
            <p><a class="neoCMSApplyBtn" href="javascript:" id="neoCMSApplyBtn">&laquo; apply</a></p>
        </form>
    </div>
    <ul class="neoCMSImgProperties">
        <li class="neoCMSImgAltText clearfix"><label>Alt Text</label><input id="neoCMSImgAltTxt" name="neoCMSImgAltTxt"
                                                                            type="text"></li>
        <li class="clearfix"><label>Class</label><input id="neoCMSImgClass" name="neoCMSImgClass" type="text"></li>
        <li class="clearfix"><label>Link URL</label><input id="neoCMSImgLink" name="neoCMSImgLink" type="text"><a
                class="neoCMSFBrowse" href="javascript:" rel="#neoCMSImgLink" title="Link to an image on the server">browse</a>
        </li>
        <li class="neoCMSImgRel disabled clearfix"><label>Link Rel</label><input disabled="disabled" id="neoCMSImgRel"
                                                                                 name="neoCMSImgRel" type="text"></li>
    </ul>
    <div class="neoCMSImgInsert neoCMSPromptInsert">
        <a href="javascript:" id="neoCMSPromptBtn" title="Apply these changes">done</a>
        <a href="javascript:" id="neoCMSPromptCancel" title="cancel">cancel</a>
    </div>
</div>