<div class="neoCMSLinkPrompt neoCMSPrompt clearfix" id="neoCMSPrompt">
    <h4 class="neoCMSPromptTitle" id="neoCMSPromptTitle">Edit Link</h4>
    <form action="#" class="neoCMSLinkProperties" id="neoCMSLinkProperties" method="post" name="neoCMSLinkProperties">
        <ul>
            <li><label>Link URL</label><input id="neoCMSLinkURL" name="neoCMSLinkURL" type="text">
                <a class="neoCMSFBrowse" href="javascript:" rel="#neoCMSLinkURL" title="Link to a file on the server">browse</a>
            </li>
            <li class="neoCMSLinkID"><label>ID</label><input id="neoCMSLinkID" name="neoCMSLinkID" type="text"></li>
            <li><label>Class</label><input id="neoCMSLinkClass" name="neoCMSLinkClass" type="text"></li>
            <li><label>Title</label><input id="neoCMSLinkTitle" name="neoCMSLinkTitle" type="text"></li>
            <li><label>Rel</label><input id="neoCMSLinkRel" name="neoCMSLinkRel" type="text"></li>
            <li class="neoCMSLinkInsert neoCMSPromptInsert">
                <a href="javascript:" id="neoCMSPromptBtn" title="Create a link from the selection">done</a>
                <a href="javascript:" id="neoCMSCancelBtn" title="cancel">cancel</a>
            </li>
        </ul>
    </form>
</div>