<div id="neoCMSPrompt" class="neoCMSLinkPrompt neoCMSPrompt clearfix">
    <h4 id="neoCMSPromptTitle" class="neoCMSPromptTitle">Edit Link</h4>
    <form action="#" method="post" name="neoCMSLinkProperties" id="neoCMSLinkProperties" class="neoCMSLinkProperties">
        <ul>
            <li><label>Link URL</label><input id="neoCMSLinkURL" name="neoCMSLinkURL" type="text">
                <a href="javascript:" class="neoCMSFBrowse" rel="#neoCMSLinkURL" title="Link to a file on the server">browse</a>
            </li>
            <li class="neoCMSLinkID"><label>ID</label><input id="neoCMSLinkID" name="neoCMSLinkID" type="text"></li>
            <li><label>Class</label><input id="neoCMSLinkClass" name="neoCMSLinkClass" type="text"></li>
            <li><label>Title</label><input id="neoCMSLinkTitle" name="neoCMSLinkTitle" type="text"></li>
            <li><label>Rel</label><input id="neoCMSLinkRel" name="neoCMSLinkRel" type="text"></li>
            <li class="neoCMSLinkInsert neoCMSPromptInsert">
                <a title="Create a link from the selection" href="javascript:" id="neoCMSPromptBtn">done</a>
                <a title="cancel" href="javascript:" id="neoCMSCancelBtn">cancel</a>
            </li>
        </ul>
    </form>
</div>