<div id="neoCMSPrompt" class="neoCMSTables neoCMSPrompt clearfix">
    <h4 id="neoCMSPromptTitle" class="neoCMSPromptTitle">Insert Table</h4>
    <div id="neoCMSTablePrev">
        <table>
            <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="neoCMSTableOptions">
        <h4>Table Options</h4>
        <form action="javascript:" method="post">
            <ul id="tableRowsCols">
                <li class="clearfix"><label>Rows</label><input id="neoCMSTableRows" name="neoCMSTableID" type="text"
                                                               value="2" tabindex="1"/></li>
                <li class="clearfix"><label>Columns</label><input id="neoCMSTableCols" name="neoCMSTableCols"
                                                                  type="text" value="2" tabindex="2"/></li>
            </ul>
            <ul id="tableHeadFoot">
                <li class="clearfix"><input id="neoCMSTableThead" name="neoCMSTableThead" type="checkbox" value="Y"
                                            tabindex="3"/><label>Add Header</label></li>
                <li class="clearfix"><input id="neoCMSTableTfoot" name="neoCMSTableTfoot" type="checkbox" value="Y"
                                            tabindex="4"/><label>Add Footer</label></li>
            </ul>
            <ul id="tableAttrs">
                <li class="clearfix"><label>Table ID</label><input id="neoCMSTableID" name="neoCMSTableID" type="text"
                                                                   tabindex="5"/></li>
                <li class="clearfix"><label>Class</label><input id="neoCMSTableClass" name="neoCMSTableClass"
                                                                type="text" tabindex="6"/></li>
            </ul>
        </form>
    </div>
    <div class="neoCMSVidInsert neoCMSPromptInsert">
        <a title="Insert this table" href="javascript:" id="neoCMSPromptBtn">insert</a>
        <a id="neoCMSPromptCancel" title="cancel" href="javascript:">cancel</a>
    </div>
</div>