<div class="neoCMSVidSelect neoCMSPrompt clearfix" id="neoCMSPrompt">
    <h4 class="neoCMSPromptTitle" id="neoCMSPromptTitle">Insert Video</h4>
    <div class="neoCMSVidChoose neoCMSVidChooseInline clearfix" id="neoCMSVidChoose">
        <h4 id="neoCMSVidSub">Video Embed</h4>
        <p>Edit the embed code, or paste here to replace with a new video.</p>
        <form action="javascript:" class="neoCMSVidLoc" enctype="multipart/form-data" id="neoCMSVidLoc" method="POST">
            <textarea class="neoCMSVidEmbed" id="neoCMSVidEmbed" name="neoCMSVidEmbed" rows="12"></textarea>
            <a class="neoCMSApplyBtn" href="javascript:" id="neoCMSApplyBtn">&laquo; apply</a>
        </form>
    </div>
    <div class="neoCMSVidInsert neoCMSPromptInsert">
        <a href="javascript:" id="neoCMSPromptBtn" title="Apply these changes">done</a>
        <a href="javascript:" id="neoCMSPromptCancel" title="cancel">cancel</a>
    </div>
</div>