<div id="neoCMSPrompt" class="neoCMSVidSelect neoCMSPrompt clearfix">
    <h4 id="neoCMSPromptTitle" class="neoCMSPromptTitle">Insert Video</h4>
    <div class="neoCMSVidChoose neoCMSVidChooseInline clearfix" id="neoCMSVidChoose">
        <h4 id="neoCMSVidSub">Video Embed</h4>
        <p>Edit the embed code, or paste here to replace with a new video.</p>
        <form action="javascript:" method="POST" id="neoCMSVidLoc" class="neoCMSVidLoc" enctype="multipart/form-data">
            <textarea id="neoCMSVidEmbed" rows="12" name="neoCMSVidEmbed" class="neoCMSVidEmbed"></textarea>
            <a id="neoCMSApplyBtn" class="neoCMSApplyBtn" href="javascript:">&laquo; apply</a>
        </form>
    </div>
    <div class="neoCMSVidInsert neoCMSPromptInsert">
        <a title="Apply these changes" href="javascript:" id="neoCMSPromptBtn">done</a>
        <a id="neoCMSPromptCancel" title="cancel" href="javascript:">cancel</a>
    </div>
</div>